<?xml version="1.0"?>
<SysConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>宁夏高辰信息技术有限公司</WebName>
  <CompanyName>宁夏高辰信息技术有限公司</CompanyName>
  <IcpCode>宁ICP备15000284号</IcpCode>
  <WebCopyright>Copyright © 2014-2015, GOCEEN.COM, All Rights Reserved </WebCopyright>
  <WebStatus>true</WebStatus>
</SysConfig>