
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div region="center" style="padding: 5px;" border="false">
<table id="grid"></table>
</div>
<div id="modalwindow" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewScripts/carousel.js")"></script>
}
<style type="text/css">
   .datagrid-sort-desc .datagrid-sort-icon {
        padding: 0 13px 0 0;
        background: none;
    }
</style>



