@model List<Goceen.Website.Domain.SysArticle>
@{
    Layout = null;
}
<div class="list clearfix">
    @if (Model != null && Model.Count >= 5)
    {
        <div class="box box1 fl">
            <a href="/Home/News/@Model[0].Id"></a>
            <div class="img_box"><img src="@Model[0].RecommendImg" /></div>
            <div class="text">@Model[0].Title</div>
        </div>
        <div class="fr">
            @for (int i = 1; i < 5; i++)
            {
                <div class="box box2 fl">
                    <a href="/Home/News/@Model[i].Id"></a>
                    <div class="img_box"><img src="@Model[i].RecommendImg" /></div>
                    <div class="text">@Model[i].Title</div>
                </div>
            }

        </div>
    }

</div>