@model List<Goceen.Website.Domain.SysArticle>
@{
    Layout = null;
}
<div class="sub_tj">
    <div class="subR_title clearfix">
        <a href="#" class="fr">MORE</a>
        <h2>热门景点</h2>
    </div>
    <div class="content">
        <ul class="clearfix">
            @if (Model != null && Model.Count >= 5)
            {
                for (int i = 0; i < 5; i++)
                {
                    <li>
                        <a href="/Home/News/@Model[i].Id">
                            <div class="img_box"><img src="@Model[i].RecommendImg" /></div>
                            <div class="tj_content">
                                <h3>@Model[i].Title</h3>
                            </div>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
