@model List<Goceen.Website.Domain.SysArticle>
@{ Layout = null;}

@if(Model != null)
{
    foreach (var item in Model)
    {
      
        <div><img src="@item.RecommendImg" /></div>
        @item.Content
    }
}
