@{ 
    Layout = null;
}
<header class="aui-bar aui-bar-nav" id="aui-header">
    <div class="aui-title"><img src="~/Content/app/images/logo.png" /></div>
    <a class="aui-btn aui-pull-left" aui-popup-for="top-left">
        <span class="aui-iconfont aui-icon-menu"></span>
    </a>
    <div class="aui-popup aui-popup-top-left" id="top-left">
        <div class="aui-popup-arrow"></div>
        <div class="aui-popup-content">
            <ul class="aui-list aui-list-noborder">
                <li class="aui-list-item">
                    <a href="/app">
                        <div class="aui-list-item-inner aui-list-item-middle">
                            走进掌政
                        </div>
                    </a>
                </li>
                <li class="aui-list-item">
                    <a href="/App/PicList?catId=2">
                        <div class="aui-list-item-inner">
                            热点景区
                        </div>
                    </a>
                </li>
                <li class="aui-list-item">
                    <a href="/App/PicList?catId=3">
                        <div class="aui-list-item-inner">
                            美食天地
                        </div>
                    </a>
                </li>
                <li class="aui-list-item">
                    <a href="/App/NewsList?catId=4">
                        <div class="aui-list-item-inner">
                            动态资讯
                        </div>
                    </a>
                </li>
                <li class="aui-list-item">
                    <a href="#">
                        <div class="aui-list-item-inner">
                            地图导航
                        </div>
                    </a>
                </li>
                <li class="aui-list-item">
                    <a href="#">
                        <div class="aui-list-item-inner">
                            田园体验
                        </div>
                    </a>
                </li>
                <li class="aui-list-item">
                    <a href="#">
                        <div class="aui-list-item-inner">
                            时尚休闲
                        </div>
                    </a>
                </li>
                <li class="aui-list-item">
                    <a href="#">
                        <div class="aui-list-item-inner">
                            农家小店
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
