@{ 
    Layout = null;
}
<header id="header">
    <div class="top"><img src="@Url.Content("/Content/pc/images/top.jpg")" width="100%" /></div>
    <div class="header">
        <div class="wrap clearfix">
            <nav class="nav fl">
                <a href="/">走进掌政</a>
                <a href="/Home/PicList?catId=2">热门景点</a>
                <a href="/Home/PicList?catId=3">美食天地</a>
                <a href="/Home/NewsList">动态资讯</a>
                <a href="#">地图导览</a>
                <a href="#">田园体验</a>
                <a href="#">时尚休闲</a>
                <a href="#">农家小店</a>
            </nav>
            <!--   <div class="search fr">
                <form>
                    <input type="text" class="search_text" placeholder="宁夏智慧旅游网" />
                <input type="submit" class="search_btn" value=" " />
                </form>
            </div>
             --> 
        </div>
    </div>
</header>