@using Webdiyer.WebControls.Mvc;
@using Goceen.Website.Domain;
@model PagedList<SysArticle>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

    <title>动态资讯</title>

    <link href="~/Content/app/css/aui-slide.css" rel="stylesheet" />
    <link href="~/Content/app/css/aui.2.0.css" rel="stylesheet" />
    <link href="~/Content/app/css/style.css" rel="stylesheet" />
<style type="text/css">
    .aui-bar-nav{
        position:relative;
    }
</style>
</head>
<body>


    @Html.Action("AppHeader", "Partial")

    <!-- banner -->

    <div class="section_box">
        <div class="news_list">
            <ul>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <a href="/app/news/@item.Id">
                                <h3>@item.Title</h3>
                                <p class="date">@item.UpdateDate.ToString()</p>
                                <i class="aui-iconfont aui-icon-right"></i>
                            </a>
                        </li>
                    }

                }
                
            </ul>
        </div>
        <div class="pager" style="margin-top: 1rem;">
            @Html.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "p",
           NumericPagerItemCount = 5,//显示最大数字也索引按钮数
           ContainerTagName = "ul",
           CurrentPagerItemTemplate = "<li class=\"active\"><a>{0}</a></li>",
           DisabledPagerItemTemplate = "<li><a>{0}</a></li>",
           PagerItemTemplate = "<li>{0}</li>"
       })
            <div class="aui-clearfix"></div>
        </div>

    </div>



    <footer id="footer">掌政——您的私属旅行专家</footer>

</body>
<script src="~/Content/app/js/jquery-1.4.2.min.js"></script>
<script src="~/Content/app/js/api.js"></script>
<script src="~/Content/app/js/aui-popup.js"></script>
<script type="text/javascript">
    var popup = new auiPopup();
    function showPopup(){
        popup.show(document.getElementById("top-left"))
    }
</script>

</html>