@{Layout = null; }
<div id="aui-slide">
    <div class="aui-slide-wrap">
        @if (Model != null)
            {
                foreach (var item in Model)
                {
                <div class="aui-slide-node bg-dark">
                    <img src="@item.Img" />
                </div>
            }

        }
    </div>
    <div class="aui-slide-page-wrap"><!--分页容器--></div>
</div>

