@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn_show").bind("click", function () {
                $("#form_upload").show();
                var options = {
                    success: function (responseText, statusText, xhr, $form) {
                        var picPath = responseText.pic;
                        if (picPath == "") {
                            alert(responseText.error);
                        }
                        else {
                            $("#form_upload").hide();
                            $("#result").attr("src", picPath).show();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                };
                $("#form_upload").ajaxForm(options);
            });
        });
    </script>

<input type="button" id="btn_show" value="上传图片" /><br />
<form id="form_upload" style="padding:20px;" action="Upload" method="post" enctype="multipart/form-data">
    <input name="upImg" style="width:350px;height:25px;" size="38" type="file" /><input type="submit" value="上传" />
</form>
<img alt="" style="display:none;" id="result" src="" />

<input name="upImgs" style="width:350px;height:25px;" size="38" type="file" /><input type="submit" value="上传" />